

<!--<div title="click to change report level" ng-click="vm.open()" class="glyphicon glyphicon-modal-window pull-right controls"> </div>-->


    <div style="border-top:0;  margin: 0; padding-top:1%; height: 850px; overflow: hidden;">


		<div ng-show="vm.checkLoading">
			<div class="loader_text" ng-show="vm.checkLoading">Loading..</div>
			<div class="loader_spinner" ng-show="vm.checkLoading"></div>
		</div>

        <div id='ratios1' class="col-sm-4" style="height:250px; margin: 0"> </div>
        <div id='ratios2' class="col-sm-4" style="height:250px; margin: 0"> </div>
        <div id='ratios3' class="col-sm-4" style="height:250px; margin: 0"> </div>
        <div id='ratios4' class="col-sm-4" style="height:250px; margin: 0"> </div>
        <div id='ratios5' class="col-sm-4" style="height:250px; margin: 0"> </div>
        <div id='ratios6' class="col-sm-4" style="height:250px; margin: 0"> </div>
        <div id='ratios7' class="col-sm-4" style="height:250px; margin: 0"> </div>
        <div id='ratios8' class="col-sm-4" style="height:250px; margin: 0"> </div>
        <div id='ratios9' class="col-sm-4" style="height:250px; margin: 0"> </div>

  
</div>