<button class="btn btn-success btn-xs col-xs-1" style="margin-left:2%;" ng-click="vm.toggleReportPage()">{{vm.toggleText}}</button>

<div class="row" id="report012" style="font-family:'Times New Roman', Times, serif; font-size:small; color:black">

    <div class="column form-group col-sm-offset-4" col-sm-3" style="position:center"> <span style="font-family:'Times New Roman', Times, serif; font-size:small; color:black"><strong>You are on Report View Page</strong></span>  </div>

    <div class="column form-group col-sm-12">
        <form method="get" class="form-horizontal" style="max-height: 2px;">

            <div class="form-group col-sm-1" style="margin-left:1%; margin-right:1%;">
                <label class="control-label"><b>Year</b></label>
                <div class="controls">
                    <select ng-model="vm.yearmodel" class="form-control" ng-options="t.value as t.name for t in vm.yearList"></select>
                    <!--<select ng-model="list_category" class="form-control" ng-options="t.Id as t.Name for t in vm.test"></select>-->
                </div>
            </div> <!--<div class="form-group col-sm-1">&nbsp</div>-->

            <div class="form-group col-sm-2" style="margin-right:1%;">
                <label class="control-label"><b>Period</b></label>
                <div class="controls">
                    <select ng-model="vm.periodmodel" class="form-control" ng-options="t.id as t.name for t in vm.periodList"></select>
                </div>
            </div> 

            <div class="form-group col-sm-2" style="margin-right:1%;">
                <label class="control-label"><b>Report Level</b></label>
                <div class="controls">
                    <select ng-model="vm.reportlevelmodel" class="form-control" ng-options="t.value as t.name for t in vm.reportlevelList"></select>
                </div>
            </div> 

            <div class="form-group col-sm-2" style="margin-right:1%;">
                <label class="control-label"><b>Report Type</b></label>
                <div class="controls">
                    <select ng-model="vm.reporttypemodel" class="form-control" ng-options="t.value as t.name for t in vm.reportTypeList" ng-change="vm.maincaptiontypeFunc2(vm.reporttypemodel)"></select>
                </div>
            </div> 

            <!--<div class="form-group col-sm-2" style="margin-right:1%;">
                <label class="control-label"><b>Main Caption</b></label>
                <div class="controls">
                    <select ng-model="vm.maincaptionmodel" class="form-control" ng-options="t as t for t in vm.maincaptionList"></select>
                </div>
            </div>--> 

            <!--<div class="form-group col-sm-2" style="margin-right:1%;">
                <label class="control-label"><b>Main Caption</b></label>
                <div class="controls">
                    <select ng-model="vm.maincaptionmodel" class="form-control" ng-options="t.fiName as t.fiName for t in vm.maincaptionList"></select>
                </div>
            </div>-->

            <div class="form-group col-sm-4" style="margin-right:1%; max-height:1px;">
                <label class="control-label">Main Caption</label>
                <div class="controls">
                    <div class="row">
                        <div class="col-xs-6">
                            <div isteven-multi-select
                                 max-labels="1"
                                 input-model="vm.maincaptionList"
                                 output-model="selectedItems"
                                 button-label="fiName"
                                 item-label="fiName"
                                 on-close="getSelectItems(selectedItems)"
                                 tick-property="ticked">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="form-group col-sm-1">
                <label class="control-label"> &nbsp </label>
                <input type="button" class="btn-sm btn btn-primary btn-rounded btn-block" data-ng-click="vm.reportSet012();" id="set012" value="Apply">
            </div>
        </form>

    </div>
</div>

<!--<div class="container">
    <div class="row">-->
<div style="font-family:'Times New Roman', Times, serif; font-size:large; color:black">
    <form class="form-horizontal" style="height: 100%;">
        <div style="height:100%; background-color: transparent;">
             <iframe src="{{'/App/pages/Viewer012.aspx?id=' + vm.reportId + '&period3=' + vm.periodmodel3 + '&year=' + vm.yearmodel2 + '&period=' + vm.periodmodel2 + '&reportlevel=' + vm.reportlevelmodel2 + '&path=' + vm.pathmodel2 + '&reporttype=' + vm.reporttypemodel2 + '&maincaption=' + vm.maincaptionmodel2 }}" style="width:100%;height:2600px; overflow-y:hidden; overflow-x:auto"></iframe>
        </div>
    </form>
</div>

<!--</div>
</div>-->
