<button class="btn btn-success btn-xs col-xs-1" style="margin-left:2%;" ng-click="vm.toggleReportPage()">{{vm.toggleText}}</button>

<div class="row" id="report006" style="font-family:'Times New Roman', Times, serif; font-size:small; color:black">

    <div class="column form-group col-sm-offset-4" col-sm-3" style="position:center"> <span style="font-family:'Times New Roman', Times, serif; font-size:small; color:black"><strong>You are on Report View Page</strong></span>  </div>

    <div class="column form-group col-sm-12">
        <form method="get" class="form-horizontal">

            <div class="form-group col-sm-2" style="margin-left:1%; margin-right:1%;">
                <label class="control-label"><b>Currency</b></label>
                <div class="controls">
                    <select ng-model="vm.currencymodel" class="form-control" ng-options="t.id as t.name for t in vm.currency"></select>
                </div>
            </div> 

            <div class="form-group col-sm-2" style="margin-right:1%;">
                <label class="control-label"><b>Direction</b></label>
                <div class="controls">
                    <select ng-model="vm.periodmodel" class="form-control" ng-options="t.id as t.name for t in vm.period"></select>
                </div>
            </div> 

            <div class="form-group col-sm-2" style="margin-right:1%;">
                <label class="control-label"><b>Level Select</b></label>
                <div class="controls">
                    <select ng-model="vm.currencymodel" class="form-control" ng-options="t.id as t.name for t in vm.currency"></select>
                </div>
            </div> 



            <div class="form-group col-sm-2" style="margin-right:1%;">
                <label class="control-label"><b>Office</b></label>
                <div class="controls">
                    <select ng-model="vm.yearmodel" class="form-control" ng-options="t.value as t.name for t in vm.year"></select>
                </div>
            </div> 

            <div class="form-group col-sm-2" style="margin-right:1%;">
                <label class="control-label"><b>Period</b></label>
                <div class="controls">
                    <select ng-model="vm.periodmodel" class="form-control" ng-options="t.id as t.name for t in vm.period"></select>
                </div>
            </div> 

            <div class="form-group col-sm-2" style="margin-right:1%;">
                <label class="control-label"><b>Staff</b></label>
                <div class="controls">
                    <select ng-model="vm.currencymodel" class="form-control" ng-options="t.id as t.name for t in vm.currency"></select>
                </div>
            </div> 



            <div class="form-group col-sm-2" style="margin-right:1%;">
                <label class="control-label"><b>Top</b></label>
                <div class="controls">
                    <select ng-model="vm.yearmodel" class="form-control" ng-options="t.value as t.name for t in vm.year"></select>
                </div>
            </div> 

            <div class="form-group col-sm-2">
                <label class="control-label"><b>Unit</b></label>
                <div class="controls">
                    <select ng-model="vm.periodmodel" class="form-control" ng-options="t.id as t.name for t in vm.period"></select>
                </div>
            </div> 

            <div class="form-group col-sm-2">
                <label class="control-label"><b>Year</b></label>
                <div class="controls">
                    <select ng-model="vm.yearmodel" class="form-control" ng-options="t.value as t.name for t in vm.year"></select>
                </div>
            </div> 


            <div class="form-group col-sm-1">
                <label class="control-label"> &nbsp </label>
                <button type="button" class="btn-sm btn btn-primary btn-rounded btn-block" data-ng-click="vm.reportSet006()" id="set006">
                    Apply
                </button>
            </div>
        </form>

    </div>
</div>

<!--<div class="container">
    <div class="row">-->
<div style="font-family:'Times New Roman', Times, serif; font-size:large; color:black">
    <form class="form-horizontal" style="height: 100%;">
        <div style="height:100%; background-color: transparent;">
             <iframe src="{{'/App/pages/Viewer006.aspx?id=' + vm.reportId + '&period3=' + vm.periodmodel3 + '&currency=' + vm.currencymodel2 + '&direction=' + vm.directionmodel2 + '&levelselect=' + vm.levelselectmodel2 + '&office=' + vm.officemodel2 + '&path=' + vm.pathmodel2 + '&period=' + vm.periodmodel2 + '&staff=' + vm.staffmodel2 + '&top=' + vm.topmodel2 + '&type=' + vm.typemodel2 + '&unit=' + vm.unitmodel2 + '&year=' + vm.yearmodel2 }}" style="width:280%;height:2600px; overflow-y:hidden; overflow-x:auto"></iframe>
        </div>
    </form>
</div>

<!--</div>
</div>-->
