
 
        

<button type="button" class="btn btn-primary btn-xs pull-right" ng-click="vm.open()">click to change report level</button>

<div class="container">
    <div class="row">

        <!-- Marquess starts -->
        <marquee behavior="scroll" scrollamount="10" loop="" bgcolor="beige" onmouseover="this.stop()" onmouseout="this.start()">
            <div class="column form-group col-xs-12">
                <div class="col-sm-2">
                    <!--<div id='depositmix' style="width:100%; height:400px; margin: 0 auto"> </div>-->

                    <div class="panel panel-primary" style="background-color:dodgerblue">
                        <div class="panel-heading" style="height:50px;">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class=""></i>
                                </div>
                                <div class="col-xs-9 text-left">
                                    <div class="huge">    </div>
                                    <div>Deposit Growth</div>
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="panel-footer" style="height:30px;">
                                <span class="pull-left">100,510  10%</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="col-sm-2">
                    <!--<div id='depositmix' style="width:100%; height:400px; margin: 0 auto"> </div>-->
                    <div class="panel panel-green" style="background-color:forestgreen; color:white">
                        <div class="panel-heading" style="height:50px;">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class=""></i>
                                </div>
                                <div class="col-xs-9 text-left">
                                    <div class="huge">   </div>
                                    <div>Expenses</div>
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="panel-footer" style="height:30px;">
                                <span class="pull-left">82%</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-sm-2">
                    <!--<div id='depositmix' style="width:100%; height:400px; margin: 0 auto"> </div>-->
                    <div class="panel panel-yellow" style="background-color:sandybrown; color:white">
                        <div class="panel-heading" style="height:50px;">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class=""></i>
                                </div>
                                <div class="col-xs-9 text-left">
                                    <div class="huge">  </div>
                                    <div>Total CASA</div>
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="panel-footer" style="height:30px;">
                                <span class="pull-left">3,527,831</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-sm-2">
                    <!--<div id='revenuemix' style="width:100%; height:400px; margin: 0 auto"></div>-->
                    <div class="panel panel-red" style="background-color:darkred; color:white">
                        <div class="panel-heading" style="height:50px;">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class=""></i>
                                </div>
                                <div class="col-xs-9 text-left">
                                    <div class="huge">  </div>
                                    <div>Active Accounts</div>
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="panel-footer" style="height:30px;">
                                <span class="pull-left">3, 054, 111</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>



                <div class="col-sm-2">
                    <!--<div id='depositmix' style="width:100%; height:400px; margin: 0 auto"> </div>-->

                    <div class="panel panel-primary" style="background-color:dodgerblue">
                        <div class="panel-heading" style="height:50px;">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class=""></i>
                                </div>
                                <div class="col-xs-9 text-left">
                                    <div class="huge">    </div>
                                    <div>cost to income</div>
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="panel-footer" style="height:30px;">
                                <span class="pull-left">117.60</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>

                </div>

                <div class="col-sm-2">
                    <!--<div id='depositmix' style="width:100%; height:400px; margin: 0 auto"> </div>-->
                    <div class="panel panel-green" style="background-color:forestgreen; color:white">
                        <div class="panel-heading" style="height:50px;">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class=""></i>
                                </div>
                                <div class="col-xs-9 text-left">
                                    <div class="huge">   </div>
                                    <div>NPL Ratio</div>
                                </div>
                            </div>
                        </div>
                        <a href="">
                            <div class="panel-footer" style="height:30px;">
                                <span class="pull-left">82.97</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>

               


            </div>     <!--end of column-->
        </marquee>
        <!-- Marquess ends -->

        <div class="column">
            <div class="col-sm-4">
                <div id='depositmix' style="width:100%; height:250px; margin: 0 auto"> </div>
            </div>

            <div class="col-sm-4">
                <div id='totalaccountmix' style="width:100%; height:250px; margin: 0 auto"> </div>
            </div>

            <div class="col-sm-4">
                <div id='revenuemix' style="width:100%; height:250px; margin: 0 auto"></div>
            </div>
        </div>
        


        <div class="column"> 
            <div class="col-sm-4">
                <div id='deposittrend' style="width:100%; height:250px; margin: 0 auto"></div>
            </div>
                       
            <div class="col-sm-4">
                <div id='totalaccounttrend' style="width:100%; height:250px; margin: 0 auto"></div>
            </div>
                
            <div class="col-sm-4">
                <div id='revenuetrend' style="width:100%; height:250px; margin: 0 auto"></div>
            </div>
        </div>
    </div>
</div>
