


<div style="border-top:0;  margin: 0; padding-top:1%; height: 850px; overflow: hidden;">

    <div style="padding-left:15%">
        <div class="col-sm-2">
            <div class="panel panel-primary" style="background-color:dodgerblue">
                <div class="panel-heading" style="height:50px;">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class=""></i>
                        </div>
                        <div class="col-xs-9 text-left">
                            <div class="huge">    </div>
                            <div style="font-family:'Times New Roman', Times, serif; font-size:small; color:white;">{{vm.CardMainCaption1}}</div>
                        </div>
                    </div>
                </div>
                <a href="">
                    <div class="panel-footer" style="height:30px;">
                        <span class="pull-left" style="font-family:'Times New Roman', Times, serif; font-size:small; padding-left:40%">{{vm.CardAmount1}}</span>
                        <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                        <!--<div class="clearfix"></div>-->
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="panel panel-green" style="background-color:forestgreen; color:white">
                <div class="panel-heading" style="height:50px;">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class=""></i>
                        </div>
                        <div class="col-xs-9 text-left">
                            <div class="huge">   </div>
                            <div style="font-family:'Times New Roman', Times, serif; font-size:small; color:white;">{{vm.CardMainCaption2}}</div>
                        </div>
                    </div>
                </div>
                <a href="">
                    <div class="panel-footer" style="height:30px;">
                        <span class="pull-left" style="font-family:'Times New Roman', Times, serif; font-size:small; padding-left:40%">{{vm.CardAmount2}}</span>
                        <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>-->
                    </div>
                </a>
            </div>
        </div>

        <div class="col-sm-2">
            <div class="panel panel-yellow" style="background-color:sandybrown; color:white">
                <div class="panel-heading" style="height:50px;">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class=""></i>
                        </div>
                        <div class="col-xs-9 text-left">
                            <div class="huge">  </div>
                            <div style="font-family:'Times New Roman', Times, serif; font-size:small; color:white;">{{vm.CardMainCaption3}}</div>
                        </div>
                    </div>
                </div>
                <a href="">
                    <div class="panel-footer" style="height:30px;">
                        <span class="pull-left" style="font-family:'Times New Roman', Times, serif; font-size:small; padding-left:40%">{{vm.CardAmount3}}</span>
                        <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>-->
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel panel-red" style="background-color:darkred; color:white">
                <div class="panel-heading" style="height:50px;">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class=""></i>
                        </div>
                        <div class="col-xs-9 text-left">
                            <div class="huge">  </div>
                            <div style="font-family:'Times New Roman', Times, serif; font-size:small; color:white;">{{vm.CardMainCaption4}}</div>
                        </div>
                    </div>
                </div>
                <a href="">
                    <div class="panel-footer" style="height:30px;">
                        <span class="pull-left" style="font-family:'Times New Roman', Times, serif; font-size:small; padding-left:40%">{{vm.CardAmount4}}</span>
                        <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>-->
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="panel panel-primary" style="background-color:dodgerblue">
                <div class="panel-heading" style="height:50px;">
                    <div class="row">
                        <div class="col-xs-2">
                            <i class=""></i>
                        </div>
                        <div class="col-xs-9 text-left">
                            <div class="huge">    </div>
                            <div style="font-family:'Times New Roman', Times, serif; font-size:small; color:white;">{{vm.CardMainCaption5}}</div>
                        </div>
                    </div>
                </div>
                <a href="">
                    <div class="panel-footer" style="height:30px;">
                        <span class="pull-left" style="font-family:'Times New Roman', Times, serif; font-size:small; padding-left:40%">{{vm.CardAmount5}}</span>
                        <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                        <!--<div class="clearfix"></div>-->
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div ng-show="vm.spinningLoading">
        <div class="loader_text" ng-show="vm.spinningLoading">Loading..</div>
        <div class="loader_spinner" ng-show="vm.spinningLoading"></div>
    </div>


    <div ng-show="vm.contentsLoading">
        <div class="col-sm-4" style="border-bottom-width:0;">
            <div id='acctmix1' style="border-color:red; width:100%; height:400px; margin: 0 auto"> </div>
        </div>

        <div class="col-sm-8" style="border-bottom-width:0;">
            <div id='accttrend1' style="border-color:red; width:100%; height:400px; margin: 0 auto;"> </div>
        </div>
    </div>

</div>




<!--<input type="text" id="fnamez" name="fnamez" />-->

<!--<link href="../assets/css/jqueryui.min.css" rel="stylesheet" />
<script src="../assets/js/jquery/jquery-2.1.0.min.js"></script>
<script src="../../Content/plugins/jquery-ui/jquery-ui.min.js"></script>-->


<!--<script type="text/javascript">
    $(function () {
        $("#fnamez").autocomplete({
            source: function (request, response) {
                $.ajax({
                    //url: '@Url.Action("test", "api/dashboard2")',
                    //url: 'http://localhost:43056/api/dashboard2/test/a',
                    //url: '@Url.Action("TestAutoComplete", "Home")',
                    url: 'http://localhost:43056/home/TestAutoComplete',
                    //type: "POST",
                    dataType: "json",
                    data: { fname: $("#fnamez").val() },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item,
                                value: item
                            };
                        }));
                    }
                });
            },
            // minChars: 1,
            //delay: 60,
            messages: {
                noResults: "",
                results: ""
            }
        });
    })
</script>-->

