

 <div style="border-top:0;  margin: 0; padding-top:1%; height: 850px; overflow: hidden;"> 


    <div class="column" style="background-color: black;">        
        <div class="col-sm-6" style="border-bottom-width:0;">
            <div id='ccrm1' style="width:100%; height:250px; margin: 0 auto"> </div>
        </div>

        <div class="col-sm-6">
            <div id='ccrm2' style="width:100%; height:250px; margin: 0 auto"></div>
        </div>
    </div>


    <div class="column">
		<div class="col-sm-6">
            <div id='ccrm3' style="width:100%; height:250px; margin: 0 auto"></div>
        </div>

        <div class="col-sm-6">
            <div id='ccrm4' style="width:100%; height:250px; margin: 0 auto"></div>
        </div>
    </div>

 </div> 
	


    <script src="../app/assets/js/jquery/jquery-2.1.0.min.js"></script>
    <script src="../app/assets/js/jquery/jquery.marquee.js"></script>
    <script src="../app/assets/js/jquery/jquery.easing.min.js"></script>
    <script src="../app/assets/js/jquery/custom_jquery_marquee_configuration.js"></script>


