
<!--<div class="main-content">-->
<div class="container">

    <!--<div class="widget-header">
        <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
    </div>-->
    <!--<div class="widget-content">
        <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
            <button class="close" data-dismiss="alert">&times;</button>
            <i class="fa fa-info-circle"></i> {{vm.instruction}}
        </div>-->
    <!-- scorecard starts -->

    <div class="row">

        <!-- charts starts -->
        <!--<div class="row">-->
        <div class="col-sm-6" style="height:20px; margin: 0 auto">
            <div id='ceo_2colbarchart_table'> </div>
        </div>
        <div class="col-sm-6" style="height:20px; margin: 0 auto">
            <div id='ceo_2colbarchart'></div>
        </div>



        <!--<div class="col-lg-offset-12"></div>-->
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>

        <div class="col-sm-6" style="height:20px; margin: 0 auto">
            <div id='ceo_piechart_table'> </div>
        </div>
        <div class="col-sm-6" style="height:20px; margin: 0 auto">
            <div id='ceo_piechart'></div>
        </div>


        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>
        <div class="form-group col-sm-12">&nbsp</div>


        <div class="col-sm-6" style="height:20px; margin: 0 auto">
            <div id='ceo_1colbarchart_table'> </div>
        </div>
        <div class="col-sm-6" style="height:20px; margin: 0 auto">
            <div id='ceo_1colbarchart'></div>
        </div>
        <!-- charts ends -->

    </div>
    <!--</div>-->
</div>
