
<div class="main-content">

    <div class="widget-header">
        <h3><i class="fa fa-table"></i> {{vm.viewName}}</h3>
    </div>
    <div class="widget-content">
        <div class="alert alert-info fade in" data-ng-show="vm.showInstruction">
            <button class="close" data-dismiss="alert">&times;</button>
            <i class="fa fa-info-circle"></i> {{vm.instruction}}
        </div>


        <!-- scorecard starts -->

        <div class="row">
            <div class="col-sm-3">
                <div class="panel panel-primary" >
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>New Comments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>New Comments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>New Comments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">26</div>
                                <div>New Comments!</div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <!--</div>-->
            <!-- scorecard ends -->
            <!-- charts starts -->
            <!--<div class="row">-->
                <div class="col-sm-8">
                    <div id='3Dbarchart' style="width:100%; height:400px; margin: 0 auto"> </div>
                </div>
                <div class="col-sm-4">
                    <div id='pieChart3D' style="width:100%; height:400px; margin: 0 auto"></div>
                </div>
            <!--</div>-->

            <div class="row">
                <!--<div class="col-lg-offset-12"></div>-->
                <div class="form-group col-sm-12">&nbsp</div>
                <div class="form-group col-sm-12">&nbsp</div>
                <div class="form-group col-sm-12">&nbsp</div>
            </div>

            <!--<div class="row">-->
                <div class="col-sm-8">
                    <div id='3Dbarchartmultiplecolumns' style="width:100%; height:400px; margin: 0 auto"> </div>
                </div>
                <div class="col-sm-4">
                    <div id='donut3Dchart' style="width:100%; height:400px; margin: 0 auto"></div>
                </div>
            <!--</div>-->
            <!-- charts ends -->
            <!--
            <div id="3Dbarchart"></div>
            <div id="3Dbarchartmultiplecolumns"></div>
            <div id="pieChart3D"></div>
            <div id="donut3Dchart"></div>
            -->

        </div>
    </div>
</div>
